body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-left: 5em;

}

#colum1{
    text-align: center;
    margin-bottom: 8em;

}

#colum2{
    text-align: left;

}

#colum3{
    text-align: right;

}
#colum12{
  border-top: solid 1px rgba(128, 128, 128, 0.454);
  text-align: center;
  font-size: 0.5em;
  margin-bottom: 1em;

}

#contrainerAll{
    width: 70%;
    margin-top: 10%;
    margin-left: 27%;
}

.resultVoteCount{
    font-size: 5em;
}

#nameTitle{
    margin: auto;
    width: 80%;
    color: white;
    border-bottom: solid 1px rgba(255, 255, 255, 0.413);
    font-size: 1.5em;
    text-align: center;
}

#resultBox{
  margin-top: 12em;
}

/* sidebar css */

.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #233449;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  
  
  .headSide{
    font-size: 2em;
    margin-top: 2em;
    margin-left: 1em;
    color: white;
  }
  
  .wrapContrainer{
    margin-left: 15%;
    width: 50%;
  }
  
  #createContrainer{
    width: 100%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    
  }
  
  #logoutContrainer{
    margin-left: 35%;
  }
  
  #btnCreate{
    display: block;
    margin: auto;
    width: 50%;
  }

  #colmenu1{
      width: 80%;
      margin-left: 10%;
      margin-bottom: 2em;
      text-align: center;
  }

  #colmenu2{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 25em;
    text-align: center;
}

  #menu1{
    font-size: 1.5em;
    color: white;
    text-decoration: none;
  }

  #menu2{
    font-size: 1.5em;
    color: white;
    text-decoration: none;
  }
