<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Electronic Vote</title>

    <!-- Bootstrap core CSS -->
    <link href="Style/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="Style/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="Style/css/index.css" rel="stylesheet">

    <%- include scripts.ejs %>

    <script>
      function logout() {
        firebase.auth().signOut();
      }
    </script>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Electronic Vote</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
                <% if (user) { %>
                    <li class="nav-item">
                            <a class="nav-link js-scroll-trigger"  href="/logout" onclick="logout()">Logout</a>
                        </li>
                <% } else { %>
                    <li class="nav-item">
                            <a class="nav-link js-scroll-trigger"  href="/login">Login</a>
                          </li>
                    
                <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in text-uppercase">Voting system based on blockchain technology</div>
          <div class="intro-heading ">A blockchain-based voting system that makes voting completely secure and
            immutable voter anonymity is guaranteed by transparent crypto algorithms.</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>
      </div>
    </header>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Blockchain</h2>
            <h3 class="section-subheading text-muted">Blockchain technology</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x a style"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Securechain</h4>
            <p class="text-muted">Securechain is the solution that introduces security gateway into SDN, whilst creating a forensically 
              auditable and unchangeable log of events</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x a"></i>
              <i class="fa fa-inbox fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Ballot Box</h4>
            <p class="text-muted">Voting: in contexts that require a high level of transparency and security, such as voting in public ballots (e.g. to express a preference in a survey), 
              the Blockchain technology relies on crypto currencies to guarantee both the legal certainty of the vote and the transparency of the process.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x a"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Web Security</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="Style/vendor/jquery/jquery.min.js"></script>
    <script src="Style/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="Style/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="Style/js/jqBootstrapValidation.js"></script>
    <script src="Style/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="Style/js/agency.min.js"></script>

  </body>

</html>
