<html>
<head>
  <title>Firebase Login</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="Style/css/style2.css" />
</head>
<body>
  <div id="login_div" class="main-div" >
    <h3>Firebase Web login Example</h3>
    <input type="email" placeholder="Email..." id="email_field" name="Email" required/>
    <input type="password" placeholder="Password..." id="password_field" name="Password" required/>

    <button onclick="login()">Login to Account</button>
  </div>

  <div id="user_div" class="loggedin-div">
    <h3>Welcome User</h3>
    <p id="user_para">Welcome to Firebase web login Example. You're currently logged in.</p>
    <button onclick="logout()">Logout</button>
    <h1>GO TO VOTE</h1>
    <button onclick="window.location.href='vote_someone.html'">GO TO VOTE</button>
  </div>

  <script src="Style/vendor/jquery/jquery.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBHxu0leiSXx2kCkjIGd8BPd7BEQDvHZAA",
      authDomain: "blockchain-1.firebaseapp.com",
      databaseURL: "https://blockchain-1.firebaseio.com",
      projectId: "blockchain-1",
      storageBucket: "blockchain-1.appspot.com",
      messagingSenderId: "474853322960"
    };
    firebase.initializeApp(config);
  </script>
</script>
<script src="Style/js/login.js"></script>

</body>
</html>
